In [6]:
import math as mt
#import pandas

In [8]:
num1=5.43
print(math.ceil(num1))
#print(mt.ceil(num1))

6

In [12]:
num2=5.43
print(round(num2,2))

5.43

In [11]:
num3=5.8
print(mt.floor(num3))

5

In [13]:
num4=4
print(mt.radians(30))

0.5235987755982988

In [14]:
num5=0.5235987755982988
print(mt.degrees(num5))

29.999999999999996

In [ ]:
num7=mt.pow(3,3) #число возводит в степень (аналог **)
print(num7)

27.0

In [17]:
num8=mt.sqrt(81) # корень
print(num8)

9.0

In [ ]:
name1, name2, name3= "Sam","Jack",""

In [18]:
print(max(1,7,2,244,54))

244

In [20]:
print(min(-32,99,47,3,4))

-32

In [23]:
l=5
w=4
h=6
l*w*h

120

In [24]:
r=30
h=70
(mt.pi*r**2*h)/3

65973.44572538565

In [25]:
r=45
(4/3)*mt.pi*r**2*h

593761.0115284708

In [26]:
r=15
(4/3)*mt.pi*r**3

14137.166941154068

In [31]:
numbers=[1,2,3,4,5]

name_list=[numbers[1]]
print(name_list)

[2]

In [33]:
people=["Tom", "Sam", "Jack", "Lil"]
name_list=[people[1]]*10
print(name_list)

['Sam', 'Sam', 'Sam', 'Sam', 'Sam', 'Sam', 'Sam', 'Sam', 'Sam', 'Sam']

In [42]:
people=["Tom", "Sam", "Jack", "Lil"]
name_list=[people[1]]*10
name_list=[people[0]]*10
people
people[0]="Bob"
people[-1]=500
len(people) #длина списка(кол-во элементов)

4

In [ ]:
student1=["Tom", "Sam", "Jack", "Lil", "Bill"]
print(len(student1))
student1.append("Lolo") #добавление
len(student1)

5

6

In [ ]:
names2=student1[:] #:это означает с 0 до конца
names2

['Tom', 'Sam', 'Jack', 'Lil', 'Bill']

In [49]:
name3=student1[-2:]
names2.reverse() #с обратной стороны указывает = [::2]
print(names2)

['Bill', 'Lil', 'Jack', 'Sam', 'Tom']

In [50]:
names2=student1[0:5:2] #jn 0 до 5 с шагом в 2
names2

['Tom', 'Jack', 'Bill']

In [54]:
student1[4:]=student1[0:2]
student1
#student1.append("Lolo")

['Tom', 'Sam', 'Jack', 'Lil', 'Tom', 'Sam']

In [55]:
student1=["Tom", "Sam", "Jack", "Lil", "Bill"]
student2=["Alex", "Sara", "Jony"]
student1.insert(student2)

TypeError: insert expected 2 arguments, got 1

In [66]:
student1=["Tom", "Sam", "Jack", "Lil", "Bill"]
student2=["Alex", "Sara", "Jony"]
student2.extend(student1) #обьединяет

In [65]:
student1=["Tom", "Sam", "Jack", "Lil", "Bill"]
student1.clear() #очищает

In [71]:
student1=["Tom", "Sam", "Jack", "Lil", "Bill"]
Lil_index=student1.index("Lil")
print(Lil_index)

3